transformers~=4.28.1
pillow~=9.5.0
tesseract
pytesseract~=0.3.10
imutils~=0.5.4
opencv-python~=4.7.0.72
scipy
torch
torchvision
fastapi~=0.95.1
uvicorn~=0.21.1
python-multipart
jinja2
starlette~=0.26.1
werkzeug~=2.2.3
httpx
jsonpickle~=3.0.1
pre-commit

numpy~=1.21.6